BODY {
  color: gray;
  background: #DDDDDD;
  font-family: Verdana, sans-serif;
  font-size: x-small;  /* an absolute (but variable by the browser) size*/
}

H1 {
  font-size: x-large;
  margin-top: 30px;
  text-align: center;
}

IMG.preload {
  display: none;
}

A {
  color: #FF8822;
  text-decoration: none;
}

A:hover {
  text-decoration: underline;
}

A img{ border: 0px solid #DDDDDD}

/* For a hidden form input */
INPUT.hidden {
  border: none;
  background: #DDDDDD;
  color: gray;
}

/* for the header */
DIV.header {
  width: 80%;
  margin: 20px auto;
  background-color: white;
  height: 50px;
  padding: 10px;
  position: relative;
}

IMG.header {
  height: 50px;
  width: 50px;
  vertical-align: middle;
}

DIV.homeLink {
  position: absolute;
  top: 30px;
  right: 10px;
}

SPAN.activeLink {
  color: #FF8822;
  font-weight: bold;
}
