/*
 * Fonts to try ...
 * - Haynes Manual - Alte Haas Grotesk
 * - NYC subway
 * - motorway
 * - tron
 */

@font-face {
  font-family: AlteHaasGrotesk;
  font-wieght: bold;
  src: url('AlteHaasGroteskBold.ttf');
}

@font-face {
  font-family: AlteHaasGrotesk;
  src: url('AlteHaasGroteskRegular.ttf');
  font-wieght: normal;
}

body, div.header { font-family: AlteHaasGrotesk, serif; }

div.photoJournal{
  background-color: white;
  /* border: 1pt solid red; */
  padding: 20px 20px 10px 20px;
  margin: 0px auto 25px auto;
  border-radius: 10px;
  -moz-border-radius: 10px;
}

p.photoJournal {
  /* border: 1pt solid green; */
  text-align: center;
}

img.photoJournal {
  display: block;
  margin: auto;
}

a.tag {
  display: block;
  height: 25px;
}
