div.photoJournal{
  background-color: white;
  padding: 20px 20px 10px 20px;
  margin: 0px auto 25px auto;
  border-radius: 10px;
  -moz-border-radius: 10px;
}

div.photoJournal p {
  text-align: center;
}

div.photoJournal img {
  display: block;
  margin: auto;
}

a.tag {
  display: block;
  height: 25px;
}
