BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; BACKGROUND: #666; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
EM {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; FONT-STYLE: oblique
}
#container {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: black 1px solid; PADDING-LEFT: 0px; BACKGROUND: url(/i/d1.png) #fff; PADDING-BOTTOM: 0px; MARGIN: 25px auto; BORDER-LEFT: black 1px solid; WIDTH: 598px; PADDING-TOP: 0px; BORDER-BOTTOM: black 1px solid; TEXT-ALIGN: left; voice-family: inherit
}
UNKNOWN {
	WIDTH: 598px
}
#header {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #fff; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BORDER-BOTTOM: black 1px solid; TEXT-ALIGN: left
}
#content {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 10px; MARGIN: 0px 10px; BORDER-LEFT: 0px; WIDTH: 430px; PADDING-TOP: 10px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left; voice-family: inherit
}
UNKNOWN {
	WIDTH: 430px
}
#navigate {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: right; PADDING-BOTTOM: 10px; WIDTH: 150px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#footer {
	CLEAR: both; PADDING-RIGHT: 10px; BORDER-TOP: black 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 11px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
DIV.spacer {
	CLEAR: both
}
#header H1 {
	FONT-SIZE: 20px; MARGIN: 0px; COLOR: #333
}
#content H2 {
	FONT-SIZE: 18px; MARGIN-BOTTOM: 5px; COLOR: #933
}
#content H3 {
	FONT-SIZE: 15px; COLOR: #000
}
#content H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 10px
}
#content P {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
#content P {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
H3 {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
H4 {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
#content UL {
	PADDING-LEFT: 1em; MARGIN: 0px; TEXT-INDENT: -0.5em; LIST-STYLE-TYPE: none
}
#navigate H2 {
	MARGIN-TOP: 10px; FONT-WEIGHT: bold; FONT-SIZE: 15px
}
#navigate UL {
	PADDING-LEFT: 1em; MARGIN: 0px; TEXT-INDENT: -0.5em; LIST-STYLE-TYPE: none
}
A:link {
	COLOR: #666; TEXT-DECORATION: none
}
A:visited {
	COLOR: #666; TEXT-DECORATION: none
}
A:hover {
	COLOR: #755; TEXT-DECORATION: underline
}
.hide {
	DISPLAY: none
}
.date {
	FONT-SIZE: 11px; COLOR: #933; FONT-STYLE: oblique
}
.ccode {
	FONT-SIZE: 10px; FONT-FAMILY: "Lucida Console", courier, monospace
}
.dent {
	MARGIN-LEFT: 15px
}
