A.memmenu{color:#ffffff;font-family:Arial,sans-serif;text-decoration:none;}
A.footer,A.footer:link,A.footer:visited{color:#999999;font-family:Arial,helvetica,sans-serif;text-decoration: none;}
A.footer:hover{color:#ff0000;font-family:Arial,helvetica,sans-serif;text-decoration: underline;}
.footerbar{font-weight:bold;}
A.tool:link{font-family:Arial, Helvetica, Sans-serif;color:#333333;text-decoration:none;}
A.tool:visited{font-family:Arial, Helvetica, Sans-serif;color:#333333;text-decoration:none;}
A.tool:hover{font-family:Arial, Helvetica, Sans-serif;color:#333333;text-decoration:underline;}
A.nav{color:#ffffff;font-size:12px;text-decoration:none;font-family:Arial,helvetica,sans-serif;font-weight:bold;}
A.nav:visited{color:#ffffff;font-size:12px;text-decoration:none;font-family:Arial,helvetica,sans-serif;font-weight:bold;}
A.nav:hover{color:#ff0000;font-size:12px;text-decoration:none;font-family:Arial,helvetica,sans-serif;font-weight:bold;}
A.nav:active{color:#ffffff;font-size:12px;text-decoration:none;font-family:Arial,helvetica,sans-serif;font-weight:bold;}
A.titlecontrol,A.titlecontrol:hover,A.titlecontrol:visited{color:#ffffff;font-size:12px;text-decoration:underline;font-family:Arial,helvetica,sans-serif;font-weight:bold;}
A.subMenu{color:#ffffff;TEXT-DECORATION:underline;font-size:12px;}
A.subMenu:visited{color:#ffffff;TEXT-DECORATION:underline;font-size:12px;}
A.subMenu:hover{color:#ffffff;TEXT-DECORATION:underline;font-size:12px;}
A.subMenu:active{color:#ffffff;TEXT-DECORATION:underline;font-size:12px;}
A.n{font-weight:bold;font-family:arial;color:white;text-decoration:none;font-size:11px}
A.tab{color:#ffffff;TEXT-DECORATION:none;font-size:12px;}
A.tab:hover{color:#ff0000;TEXT-DECORATION:none;font-size:12px;}
A.tab:visited{color:#ffffff;TEXT-DECORATION:none;font-size:12px;}
A.tab:active{color:#ffffff;TEXT-DECORATION:none;font-size:12px;}
INPUT.join{width:95px;FONT-SIZE: 12px; COLOR:#000000;BACKGROUND-COLOR:#ffffc4;}
INPUT.joinbutton{FONT-SIZE: 12px; COLOR:#ffffff;BACKGROUND-COLOR:#000066;font-weight:bold;}
INPUT.btn{FONT-SIZE: 12px; COLOR:#ffffff;BACKGROUND-COLOR:#000066;font-weight:bold;}
.smallinput{font-family:Arial;font-size:8pt;}
DIV.bottom{font-weight:bold;}
TD{font-family:Arial;font-size:12px};
TD.bottom{color:#666666}
TD.head{font-weight:bold;font-family:Arial;font-size:12px;}
TD.nav{background-color:#FFCC66;}
TD.navsub{background-color:#FFFFCC;font-size:12px;color:#0000aa;}
P.head{font-weight:bold;font-family:arial, sans-serif;color:#ffffff;font-size:12px;text-decoration:none;}
TD.bgcolorlight{background-color:#EAE8E8;color:#000000;font-family:Arial, Verdana, sans-serif;font-size:11px;}
TD.headlines{font-size: 12px; COLOR: #000000; FONT-FAMILY: Arial, helvetica, sans-serif}
TD.history{font-family:Arial,sans-serif;font-size:12px;}
TD.title{font-weight:bold;color:#ffffff;font-family:Arial, Verdana, sans-serif;font-size:12px;}
TD.navig{font-family:Arial;font-size:12px;}
TD.podBorder{background-color:#999999;}
TD.podTitle{background-color:#000066;font-weight:bold;color:#ffffff;font-family:Arial, Verdana;font-size:12px;}
TD.podSub{background-color:#e7edff;color:#000000;font-family:Arial;font-size:11px;}
TD.podSubSite{color:#000000;font-family:Arial;font-size:11px;}
TD.podMain{background-color:#ffffff;font-family:Arial;font-size:12px;}
TD.currentStep{font-family:Arial;font-size:11px; COLOR: #000000; TEXT-DECORATION:bold}
TD.completedStep{font-family:Arial;font-size:11px; COLOR: #4040FF;}
TD.toDoStep{font-family:Arial;font-size:11px; COLOR: #C0C0C0;}
BODY{font-family:Arial, Verdana, helvetica, sans-serif;font-size:12px;color:#000000;background-color:#FFFFFF;background-image:url(/star.gif);background-repeat:no-repeat;}
DIV.small{FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif}
DIV.text{FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif}
.text{FONT-SIZE: 13px; COLOR: #000000}
.textbold{FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000}
.textwhite{FONT-SIZE: 13px; COLOR: #ffffff}
.textboldwhite{FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffffff}
A.navtop{COLOR: #000066; FONT-SIZE: 13px; TEXT-DECORATION: underline}
A.navtop:visited{COLOR: #0000aa; FONT-SIZE: 13px; TEXT-DECORATION: underline}
A.navtop:hover{COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: underline}
A.navtop:active{COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: underline}
.smallbold{FONT-WEIGHT: bold; COLOR: #000000}
.smallboldwhite{FONT-WEIGHT: bold; COLOR: #ffffff}
.small{COLOR: #000000}
.smallwhite{COLOR: #ffffff}
A{COLOR: #0000aa; TEXT-DECORATION: underline;}
A:visited{COLOR: #990033; TEXT-DECORATION: underline;}
A:hover{COLOR: #ff0000; TEXT-DECORATION: underline;}
A:active{COLOR: #0000aa; TEXT-DECORATION: underline;}
A.title{COLOR: #ffffff; TEXT-DECORATION: none;}
A.title:visited{COLOR: #ffffff; TEXT-DECORATION: none;}
A.title:hover{COLOR: #ffc400; TEXT-DECORATION: underline;}
A.title:active{COLOR: #ffc400; TEXT-DECORATION: underline;}
A.link.currentStep{font-weight: bolder; TEXT-DECORATION: underline;font-family:Arial;font-size:11px; COLOR: #000000; TEXT-DECORATION:bold}
A.active.currentStep{font-weight: bolder; TEXT-DECORATION: underline;font-family:Arial;font-size:11px; COLOR: #000000; TEXT-DECORATION:bold}
A.visited.currentStep{font-weight: bolder; TEXT-DECORATION: underline;font-family:Arial;font-size:11px; COLOR: #000000; TEXT-DECORATION:bold}
A.hover.currentStep{font-weight: bolder; TEXT-DECORATION: underline;font-family:Arial;font-size:11px; COLOR: #000000; TEXT-DECORATION:bold}
A.link.completedStep{TEXT-DECORATION: underline;font-family:Arial;font-size:11px; COLOR: #4040FF;}
A.active.completedStep{TEXT-DECORATION: underline;font-family:Arial;font-size:11px; COLOR: #4040FF;}
A.visited.completedStep{TEXT-DECORATION: underline;font-family:Arial;font-size:11px; COLOR: #4040FF;}
A.hover.completedStep{TEXT-DECORATION: underline;font-family:Arial;font-size:11px; COLOR: #4040FF;}
A.active.toDoStep{TEXT-DECORATION: underline; font-family:Arial;font-size:11px; COLOR: #C0C0C0;}
A.link.toDoStep{TEXT-DECORATION: underline; font-family:Arial;font-size:11px; COLOR: #C0C0C0;}
A.visited.toDoStep{TEXT-DECORATION: underline; font-family:Arial;font-size:11px; COLOR: #C0C0C0;}
A.hover.toDoStep{TEXT-DECORATION: underline; font-family:Arial;font-size:11px; COLOR: #C0C0C0;}

